* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
main {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.body__img {
    display: flex;
    justify-content: end;
}

img {
    width: 50%;
    position: relative;
}

.body__div {
    display: flex;
    width: 70%;
    flex-direction: column;
    flex-basis: 500px;
}

.body__div--div {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.div__form--inputs {
    display: flex;
    padding: 15px;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    height: 50%;
    padding: 5px;
}

ul > div {
    margin: 15px;
}


.div__form--signup {
    display: flex;
    justify-content: space-between;
}

.div__form--signup > button {
    margin: auto;
    height: 25px;
    width: 100px;
}

.div__form--signup > input {
    margin: 15px; 
}

.body__div--terms {
}